<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aurora.stardew.mapper.StardewWikiMapper">
    
    <resultMap type="StardewWiki" id="StardewWikiResult">
        <result property="id"    column="id"    />
        <result property="title"    column="title"    />
        <result property="categories"    column="categories"    />
        <result property="content"    column="content"    />
        <result property="source"    column="source"    />
    </resultMap>

    <sql id="selectStardewWikiVo">
        select id, title, categories, content, source from stardew_wiki
    </sql>

    <select id="selectStardewWikiList" parameterType="StardewWiki" resultMap="StardewWikiResult">
        <include refid="selectStardewWikiVo"/>
        <where>  
            <if test="title != null  and title != ''"> and title like concat('%', #{title}, '%')</if>
            <if test="content != null  and content != ''"> and content like concat('%', #{content}, '%')</if>
        </where>
    </select>
    
    <select id="selectStardewWikiById" parameterType="Integer" resultMap="StardewWikiResult">
        <include refid="selectStardewWikiVo"/>
        where id = #{id}
    </select>

    <insert id="insertStardewWiki" parameterType="StardewWiki" useGeneratedKeys="true" keyProperty="id">
        insert into stardew_wiki
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="title != null and title != ''">title,</if>
            <if test="categories != null">categories,</if>
            <if test="content != null">content,</if>
            <if test="source != null">source,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="title != null and title != ''">#{title},</if>
            <if test="categories != null">#{categories},</if>
            <if test="content != null">#{content},</if>
            <if test="source != null">#{source},</if>
         </trim>
    </insert>

    <update id="updateStardewWiki" parameterType="StardewWiki">
        update stardew_wiki
        <trim prefix="SET" suffixOverrides=",">
            <if test="title != null and title != ''">title = #{title},</if>
            <if test="categories != null">categories = #{categories},</if>
            <if test="content != null">content = #{content},</if>
            <if test="source != null">source = #{source},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteStardewWikiById" parameterType="Integer">
        delete from stardew_wiki where id = #{id}
    </delete>

    <delete id="deleteStardewWikiByIds" parameterType="String">
        delete from stardew_wiki where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>